<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="Domain1" value="" />
		<add key="Domain2" value="" />
		<add key="Username1" value="" />
		<add key="Username2" value="" />
		<add key="Password1" value="" />
		<add key="Password2" value="" />
		<add key="Group1" value="" />
		<add key="Group2" value="" />
		<!-- Add more custom settings here as needed -->
	</appSettings>
</configuration>