<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ADsFusion.Properties.Links" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ADsFusion.Properties.Credentials" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ADsFusion.Properties.CustomNames" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ADsFusion.CustomNames" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ADsFusion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
 <userSettings>
  <ADsFusion.Properties.Links>
   <setting name="Link1" serializeAs="String">
    <value />
   </setting>
   <setting name="Link2" serializeAs="String">
    <value />
   </setting>
   <setting name="Link3" serializeAs="String">
    <value />
   </setting>
   <setting name="Link4" serializeAs="String">
    <value />
   </setting>
   <setting name="Link5" serializeAs="String">
    <value />
   </setting>
   <setting name="Link6" serializeAs="String">
    <value />
   </setting>
   <setting name="Link7" serializeAs="String">
    <value />
   </setting>
   <setting name="Link8" serializeAs="String">
    <value />
   </setting>
   <setting name="Link9" serializeAs="String">
    <value />
   </setting>
   <setting name="Link10" serializeAs="String">
    <value />
   </setting>
  </ADsFusion.Properties.Links>
  <ADsFusion.Properties.Credentials>
   <setting name="Domain1" serializeAs="String">
    <value />
   </setting>
   <setting name="Username1" serializeAs="String">
    <value />
   </setting>
   <setting name="Password1" serializeAs="String">
    <value />
   </setting>
   <setting name="GroupAdmin1" serializeAs="String">
    <value />
   </setting>
   <setting name="Groups1" serializeAs="String">
    <value />
   </setting>
   <setting name="Domain2" serializeAs="String">
    <value />
   </setting>
   <setting name="Username2" serializeAs="String">
    <value />
   </setting>
   <setting name="Password2" serializeAs="String">
    <value />
   </setting>
   <setting name="GroupAdmin2" serializeAs="String">
    <value />
   </setting>
   <setting name="Groups2" serializeAs="String">
    <value />
   </setting>
   <setting name="Domain3" serializeAs="String">
    <value />
   </setting>
   <setting name="Username3" serializeAs="String">
    <value />
   </setting>
   <setting name="Password3" serializeAs="String">
    <value />
   </setting>
   <setting name="GroupAdmin3" serializeAs="String">
    <value />
   </setting>
   <setting name="Groups3" serializeAs="String">
    <value />
   </setting>
   <setting name="Domain4" serializeAs="String">
    <value />
   </setting>
   <setting name="Username4" serializeAs="String">
    <value />
   </setting>
   <setting name="Password4" serializeAs="String">
    <value />
   </setting>
   <setting name="GroupAdmin4" serializeAs="String">
    <value />
   </setting>
   <setting name="Groups4" serializeAs="String">
    <value />
   </setting>
   <setting name="Domain5" serializeAs="String">
    <value />
   </setting>
   <setting name="Username5" serializeAs="String">
    <value />
   </setting>
   <setting name="Password5" serializeAs="String">
    <value />
   </setting>
   <setting name="GroupAdmin5" serializeAs="String">
    <value />
   </setting>
   <setting name="Groups5" serializeAs="String">
    <value />
   </setting>
  </ADsFusion.Properties.Credentials>
  <ADsFusion.Properties.CustomNames>
   <setting name="sAMAccountName1" serializeAs="String">
    <value />
   </setting>
   <setting name="displayName1" serializeAs="String">
    <value />
   </setting>
   <setting name="givenName1" serializeAs="String">
    <value />
   </setting>
   <setting name="sn1" serializeAs="String">
    <value />
   </setting>
   <setting name="mail1" serializeAs="String">
    <value />
   </setting>
   <setting name="title1" serializeAs="String">
    <value />
   </setting>
   <setting name="description1" serializeAs="String">
    <value />
   </setting>
   <setting name="sAMAccountName2" serializeAs="String">
    <value />
   </setting>
   <setting name="displayName2" serializeAs="String">
    <value />
   </setting>
   <setting name="givenName2" serializeAs="String">
    <value />
   </setting>
   <setting name="sn2" serializeAs="String">
    <value />
   </setting>
   <setting name="mail2" serializeAs="String">
    <value />
   </setting>
   <setting name="title2" serializeAs="String">
    <value />
   </setting>
   <setting name="description2" serializeAs="String">
    <value />
   </setting>
   <setting name="sAMAccountName3" serializeAs="String">
    <value />
   </setting>
   <setting name="displayName3" serializeAs="String">
    <value />
   </setting>
   <setting name="givenName3" serializeAs="String">
    <value />
   </setting>
   <setting name="sn3" serializeAs="String">
    <value />
   </setting>
   <setting name="mail3" serializeAs="String">
    <value />
   </setting>
   <setting name="title3" serializeAs="String">
    <value />
   </setting>
   <setting name="description3" serializeAs="String">
    <value />
   </setting>
   <setting name="sAMAccountName4" serializeAs="String">
    <value />
   </setting>
   <setting name="displayName4" serializeAs="String">
    <value />
   </setting>
   <setting name="givenName4" serializeAs="String">
    <value />
   </setting>
   <setting name="sn4" serializeAs="String">
    <value />
   </setting>
   <setting name="mail4" serializeAs="String">
    <value />
   </setting>
   <setting name="title4" serializeAs="String">
    <value />
   </setting>
   <setting name="description4" serializeAs="String">
    <value />
   </setting>
   <setting name="sAMAccountName5" serializeAs="String">
    <value />
   </setting>
   <setting name="displayName5" serializeAs="String">
    <value />
   </setting>
   <setting name="givenName5" serializeAs="String">
    <value />
   </setting>
   <setting name="sn5" serializeAs="String">
    <value />
   </setting>
   <setting name="mail5" serializeAs="String">
    <value />
   </setting>
   <setting name="title5" serializeAs="String">
    <value />
   </setting>
   <setting name="description5" serializeAs="String">
    <value />
   </setting>
  </ADsFusion.Properties.CustomNames>
  <ADsFusion.CustomNames>
   <setting name="sAMAccountName1" serializeAs="String">
    <value />
   </setting>
   <setting name="sAMAccountName2" serializeAs="String">
    <value />
   </setting>
   <setting name="displayName1" serializeAs="String">
    <value />
   </setting>
   <setting name="displayName2" serializeAs="String">
    <value />
   </setting>
   <setting name="givenName1" serializeAs="String">
    <value />
   </setting>
   <setting name="givenName2" serializeAs="String">
    <value />
   </setting>
   <setting name="sn1" serializeAs="String">
    <value />
   </setting>
   <setting name="sn2" serializeAs="String">
    <value />
   </setting>
   <setting name="mail1" serializeAs="String">
    <value />
   </setting>
   <setting name="mail2" serializeAs="String">
    <value />
   </setting>
   <setting name="title1" serializeAs="String">
    <value />
   </setting>
   <setting name="title2" serializeAs="String">
    <value />
   </setting>
   <setting name="description1" serializeAs="String">
    <value />
   </setting>
   <setting name="description2" serializeAs="String">
    <value />
   </setting>
  </ADsFusion.CustomNames>
  <ADsFusion.Properties.Settings>
   <setting name="Domain1" serializeAs="String">
    <value />
   </setting>
   <setting name="Domain2" serializeAs="String">
    <value />
   </setting>
   <setting name="Username1" serializeAs="String">
    <value />
   </setting>
   <setting name="Username2" serializeAs="String">
    <value />
   </setting>
   <setting name="Password1" serializeAs="String">
    <value />
   </setting>
   <setting name="Password2" serializeAs="String">
    <value />
   </setting>
   <setting name="GroupAdmin1" serializeAs="String">
    <value />
   </setting>
   <setting name="GroupAdmin2" serializeAs="String">
    <value />
   </setting>
   <setting name="Groups1" serializeAs="String">
    <value />
   </setting>
   <setting name="Groups2" serializeAs="String">
    <value />
   </setting>
   <setting name="Filters" serializeAs="String">
    <value />
   </setting>
  </ADsFusion.Properties.Settings>
 </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>