<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ADsFusion.Properties.CustomNames" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ADsFusion.CustomNames" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ADsFusion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
 <userSettings>
  <ADsFusion.Properties.CustomNames>
   <setting name="sAMAccountName1" serializeAs="String">
    <value />
   </setting>
   <setting name="sAMAccountName2" serializeAs="String">
    <value />
   </setting>
   <setting name="displayName1" serializeAs="String">
    <value />
   </setting>
   <setting name="displayName2" serializeAs="String">
    <value />
   </setting>
   <setting name="givenName1" serializeAs="String">
    <value />
   </setting>
   <setting name="givenName2" serializeAs="String">
    <value />
   </setting>
   <setting name="sn1" serializeAs="String">
    <value />
   </setting>
   <setting name="sn2" serializeAs="String">
    <value />
   </setting>
   <setting name="mail1" serializeAs="String">
    <value />
   </setting>
   <setting name="mail2" serializeAs="String">
    <value />
   </setting>
   <setting name="title1" serializeAs="String">
    <value />
   </setting>
   <setting name="title2" serializeAs="String">
    <value />
   </setting>
   <setting name="description1" serializeAs="String">
    <value />
   </setting>
   <setting name="description2" serializeAs="String">
    <value />
   </setting>
   <setting name="MergeParameter" serializeAs="String">
    <value />
   </setting>
  </ADsFusion.Properties.CustomNames>
  <ADsFusion.CustomNames>
   <setting name="sAMAccountName1" serializeAs="String">
    <value />
   </setting>
   <setting name="sAMAccountName2" serializeAs="String">
    <value />
   </setting>
   <setting name="displayName1" serializeAs="String">
    <value />
   </setting>
   <setting name="displayName2" serializeAs="String">
    <value />
   </setting>
   <setting name="givenName1" serializeAs="String">
    <value />
   </setting>
   <setting name="givenName2" serializeAs="String">
    <value />
   </setting>
   <setting name="sn1" serializeAs="String">
    <value />
   </setting>
   <setting name="sn2" serializeAs="String">
    <value />
   </setting>
   <setting name="mail1" serializeAs="String">
    <value />
   </setting>
   <setting name="mail2" serializeAs="String">
    <value />
   </setting>
   <setting name="title1" serializeAs="String">
    <value />
   </setting>
   <setting name="title2" serializeAs="String">
    <value />
   </setting>
   <setting name="description1" serializeAs="String">
    <value />
   </setting>
   <setting name="description2" serializeAs="String">
    <value />
   </setting>
  </ADsFusion.CustomNames>
  <ADsFusion.Properties.Settings>
   <setting name="Domain1" serializeAs="String">
    <value />
   </setting>
   <setting name="Domain2" serializeAs="String">
    <value />
   </setting>
   <setting name="Username1" serializeAs="String">
    <value />
   </setting>
   <setting name="Username2" serializeAs="String">
    <value />
   </setting>
   <setting name="Password1" serializeAs="String">
    <value />
   </setting>
   <setting name="Password2" serializeAs="String">
    <value />
   </setting>
   <setting name="GroupAdmin1" serializeAs="String">
    <value />
   </setting>
   <setting name="GroupAdmin2" serializeAs="String">
    <value />
   </setting>
   <setting name="Groups1" serializeAs="String">
    <value />
   </setting>
   <setting name="Groups2" serializeAs="String">
    <value />
   </setting>
   <setting name="Filters" serializeAs="String">
    <value />
   </setting>
  </ADsFusion.Properties.Settings>
 </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>